<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/83d4dff8-b0a0-45a9-a6e4-20964e2d4c95/resourceGroups/LumeBy/providers/Microsoft.Web/sites/LumeBy</ResourceId>
    <ResourceGroup>LumeBy</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://lumeby.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>lumeby.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>LumeBy</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$LumeBy</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="lume_LumeEntities" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=lume.datacenter.by;user id=lume;password=qweasdzxc123;characterset=utf8;database=lume_Lume;allowzerodatetime=True;convertzerodatetime=True;persistsecurityinfo=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\lume_LumeEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/LumeModel.csdl|res://*/LumeModel.ssdl|res://*/LumeModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=lume.datacenter.by;user id=lume;password=qweasdzxc123;Charset=utf8;database=lume_Lume;Allow Zero Datetime=true;Convert Zero Datetime=true;persistsecurityinfo=True&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
</Project>