@{
    ViewBag.Title = "Фотографии";
}
<div ng-controller="ViewAllController">
    <div class="images">
        <div class="view_image panel panel-danger" data-target="#myModal"  ng-repeat="image in allImages">
            <div class="image_src panel panel-info"><img class="image_src_img"  ng-src="http://lume.datacenter.by/{{image.Src}}"></div>
            <div class="image_desc_panel panel panel-success">{{image.description}}</div>
        </div>
    </div>
    <button id="myBtn">Open Modal</button>
    <!-- The Modal -->
    <div id="myModal" class="my-modal">

        <!-- Modal content -->
        <div class="my-modal-content">
            <div class="my-modal-header">
                <span class="close">&times;</span>
                <h2>Modal Header</h2>
            </div>
            <div class="my-modal-body">
                <p>Some text in the Modal Body</p>
                <p>Some other text...</p>
            </div>
            <div class="my-modal-footer">
                <h3>Modal Footer</h3>
            </div>
        </div>

    </div>
</div>
