@{
    ViewBag.Title = "Загрузка фото";
}
<script src="/Scripts/myScripts/googleMap.js"></script>
<div class="panel" ng-controller="UploadPhotoController">
    <div ng-show="!loading">
        <form name="uploadForm" class="row">
            <div class="col-lg-5">
                <div class="form-group" ng-class="{'has-error':!uploadForm.desc.$valid}">
                    <input class="form-control" id="tmp_src" name="desc" type="text" required="" placeholder="Введите описание" ng-model="TempName">
                    <span class="help-block" ng-show="uploadForm.desc.$error.required">Поле обзяательно для заполнения</span>
                </div>
                <div class="form-group" ng-class="{'has-error':!validImage}">
                    <input id="uploadFile" class="form-control" type="file" name="file" ng-file-select="uploadFile($files)" ng-upload-change="onFileSelect($event)" />
                    <span class="help-block" ng-show="!validImage">Неверный формат картинки (только jpg)</span>
                </div>
                <div class="form-group" ng-if="isCompany">
                    <a class="form-control" ng-click="toggleModal()">Выбрано событий: {{allSelectedEvents.length}}</a>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="infoDiv" id="map_canvas"></div>
            </div>
        </form>


        <div class="panel">
            <div class="panel-heading">Предпросмотр</div>
            <div class="panel-body">

                <div class="panel panel-primary image_preview_panel">
                    <img class="image_preview" ng-src={{TempSrc}} />
                </div>
                <div class="panel panel-info desc_preview_panel">
                    {{TempName}}
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <input id="add_btn" class="btn btn-success" type="button" value="Загрузить фотографию" ng-disabled="!uploadForm.$valid || !validImage || (allSelectedEvents<=0  && isCompany)" ng-click="AddImage()">
        </div>
    </div>
    <div ng-if="loading">
        <img src="../../Content/loading.gif" />
    </div>
    <modal-dialog show='modalShown'>
        Добавить событие
        <uib-tabset active="activeJustified" justified="true">
            <uib-tab index="0" heading="Выбрать" ng-click="New(false)">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="prizeType">Тип События</label>
                        <select class="form-control" name="prizeType" ng-options="type as type.Data for type in types" ng-model="SelectedType" ng-change="typeSelect(SelectedType)"></select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="event">Событие</label>
                        <select class="form-control city_country_select" name="event" ng-options="event as event.Data for event in events" ng-model="SelectedEvent"></select>
                    </div>
                </div>
            </uib-tab>
            <uib-tab index="1" heading="Новый" ng-click="New(true)">

                <div class="row">
                    <div class="form-group col-md-6 ">
                        <label>Тип События</label>
                        <div class="row">
                            <div class="col-sm-5">
                                <select class="form-control" name="prizeType" ng-options="type as type.Data for type in types" ng-model="SelectedType" ng-change="typeSelect(SelectedType)"></select>
                            </div>
                            <label class="col-sm-1" style="margin-top: 7px;">
                                или
                            </label>
                            <div class="col-sm-6">
                                <input class="form-control" placeholder="Новый тип" type="text" name="type" ng-model="$parent.$parent.newType" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="prize">Событие</label>
                        <input class="form-control" type="text" name="prize" ng-model="$parent.$parent.newEvent" />
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>


        <div>
            <input type="button" class="btn btn-success" value="Добавить" ng-click="addEvent(newEvent, newType)" ng-disabled="(isNew && (!newEvent)) || (allSelectedEvents.length == 1)" />
        </div>

        <div class="allPrizes">
            <div class="row" ng-repeat="event in allSelectedEvents track by $index">
                <div class="col-xs-5">{{event.Data}}</div>
                <div class="col-xs-5">{{event.TypeData}}</div>
                <div class="col-xs-2" ng-click="deleteEvent($index)"><span class="glyphicon glyphicon-remove"></span></div>
            </div>
        </div>
    </modal-dialog>
</div>
