.city_country_select {
    padding: 3px;
}

.right-panel {
    border: 1px solid black;
}
@media (min-width: 992px) {
    .left-panel {
        max-width: 240px;
    }
}

.desc_preview_panel {
    padding:5px;
}
.image_preview_panel {
    text-align: center;
}
.image_preview {
    max-height:300px;
    height:auto;
    max-width:100%;
}

.infoDiv {
    height: 400px;
    width: 100%;
    -webkit-user-select: none;
    background-color: white;
}

.view_image {
    display: inline-block;
    margin: 20px 30px 10px 0;
    padding:15px;
    width:200px;
    height:250px;
    overflow:hidden
}

.images {
    display: block;
}

.image_src {
    height: 150px;
    width:auto;
    text-align:center;
}

.image_src_img{
    max-width:100%;
    max-height:100%;
}

.image_desc_panel {
    max-height: 60px;
    overflow: hidden
}

.my-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.my-modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

.my-modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.my-modal-body {
    padding: 2px 16px;
}

.my-modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}