html {
    min-width: 360px;
}

.city_country_select {
    padding: 3px;
}

.right-panel {
    border: 1px solid black;
}

@media (min-width: 992px) {
    .left-panel {
        max-width: 240px;
    }
}



.popular_panel span {
    font-size: 24px;
}

.popular_image {
    max-height: 300px;
    max-width: 100%;
    padding: 15px;
}

.popular_image_src {
    height: 200px;
    text-align: center;
}

.popular_image_src_img {
    max-height: 100%;
    max-width: 100%;
}

.desc_preview_panel {
    padding: 5px;
}

.image_preview_panel {
    text-align: center;
}

.image_preview {
    max-height: 300px;
    height: auto;
    max-width: 100%;
}

.infoDiv {
    height: 400px;
    width: 100%;
    -webkit-user-select: none;
    background-color: white;
}

.view_image {
    display: inline-block;
    margin: 20px 30px 10px 0;
    padding: 15px;
    width: 200px;
    height: 250px;
    overflow: hidden
}

.images {
    display: block;
}

.image_src {
    height: 150px;
    width: auto;
    text-align: center;
}

.image_src_img {
    max-width: 100%;
    max-height: 100%;
}

.image_desc_panel {
    max-height: 60px;
    overflow: hidden;
}

.ng-modal-overlay {
    /* A dark translucent div that covers the whole screen */
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background-color: #000000;
}

.ng-modal-dialog {
    /* A centered div above the overlay with a box shadow. */
    z-index: 10000;
    width: 50%; /* Default */
    /* Center the dialog */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    box-shadow: 4px 4px 80px #000;
}

.ng-modal-dialog-content {
    padding: 10px;
    text-align: left;
}

.ng-modal-close {
    position: relative;
    top: 3px;
    right: 5px;
    padding: 5px;
    cursor: pointer;
    font-size: 120%;
    display: block;
    font-weight: bold;
    /* A dark translucent div that covers the whole screen */
    z-index: 9999;
    top: 0;
    left: 0;
    width: auto;
    opacity: 0.8;
}

.ng-modal-dialog {
    /* A centered div above the overlay with a box shadow. */
    z-index: 10000;
    position: fixed;
    width: 80%;
    min-width: 275px;
    /* Center the dialog */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 4px 4px 80px #000;
}

.ng-modal-dialog-content {
    padding: 10px;
    text-align: left;
    margin: 10px;
}

.ng-modal-close {
    top: 3px;
    right: 5px;
    padding: 5px;
    cursor: pointer;
    font-size: 120%;
    display: inline-block;
    font-weight: bold;
    font-family: 'arial', 'sans-serif';
}

.image_view {
    width: 100%;
}

.image_view_img {
    position: relative;
    max-width: 100%;
    max-height: 100%;
}

.image_view_text {
    margin-top: 15px;
    padding: 10px;
}

.image_view_text_description {
    margin-top: 20px;
}

.image_view_btn > div {
    margin-right: 10px;
}

.image_view_map {
    margin: 15px 0 15px 0;
    height: 400px;
}

.image_view_div {
    max-height: 500px;
}

.image_view_map .infoDiv {
    width: 100%;
    height: 100%;
}

.image_view_img_div {
    height: 400px;
}


@media (max-width: 992px) {
    .image_view_map {
        height: 200px;
    }

    .image_view_img_div {
        height: 200px;
    }
}

textarea {
    width: 100%;
}

.view_stock {
    display: inline-block;
    margin: 20px 30px 10px 0;
    padding: 10px;
    width: 300px;
    height: 280px;
    overflow: hidden
}

    .view_stock > .panel {
        margin-bottom: 10px;
        padding: 5px;
    }

.stock_src {
    height: 150px;
    width: auto;
    text-align: center;
}

.stock_src_img {
    max-width: 100%;
    max-height: 100%;
}

.stock_desc_panel {
    max-height: 60px;
    overflow: hidden
}

.stock_view {
    width: 100%;
}

.stock_view_img {
    position: relative;
    max-width: 100%;
    max-height: 100%;
}

.stock_view_text {
    margin-top: 15px;
    padding: 10px;
}

.stock_view_text_description {
    margin-top: 20px;
}

.stock_view_btn > div {
    margin-right: 10px;
}

.stock_view_map {
    margin: 15px 0 15px 0;
    height: 400px;
}

.stock_view_div {
    max-height: 500px;
}

.stock_view_map .infoDiv {
    width: 100%;
    height: 100%;
}

.stock_view_img_div {
    height: 100%;
}

.images_stock_container .ng-modal-dialog {
    width: 60%;
    top: 50%;
}

.stock_images_view {
    padding: 5px;
    height: 200px;
    width: auto;
}

    .stock_images_view img {
        max-width: 100%;
        max-height: 100%;
    }

.new_stock{
    width:200px;
    height:200px;
    display:inline-block;
}

.new_stock_img {
    max-height: 100%;
    max-width: 100%;
    display:block;
}

.allPrizes {
    margin-top:10px;
}
.allPrizes > :nth-child(2n+1) {
    background-color: lightgray;
}