@{
    ViewBag.Title = "Регистрация";
}
<div class="container-fluid" ng-show="!loading" ng-controller="RegisterController">
    <p ng-if="success" class="alert alert-success">{{success}}</p>
    <p ng-if="error" class="alert alert-danger">{{error}}</p>
    <form name="registerForm">
        <div class="form-group" ng-class="{'has-error':!registerForm.user_name.$valid}">
            <label for="user_name">Имя пользователя:</label>
            <input class="form-control" name="user_name" id="user_name" required="" ng-model="registerData.UserName">
            <span class="help-block" ng-show="registerForm.user_name.$error.required">Поле обязательно для заполнения.</span>
        </div>
        <div class="form-group" ng-class="{'has-error':!registerForm.user_email.$valid}">
            <label for="user_email">Email:</label>
            <input type="email" class="form-control" name="user_email" id="user_email" required="" ng-model="registerData.Email">
            <span class="help-block" ng-show="registerForm.user_email.$error.required">Поле обязательно для заполнения.</span>
            <span class="help-block" ng-show="registerForm.user_email.$error.email">Email неправильный.</span>
        </div>

        <div class="form-group" ng-class="{'has-error':!registerForm.PhoneNumber.$valid}">
            <label for="PhoneNumber">Номер телефона</label>
            <input class="form-control" name="PhoneNumber" ng-model="registerData.PhoneNumber" />
        </div>
        <div class="form-group">
            <label for="country">Страна</label>
            <select class="form-control city_country_select" name="country" ng-options="country as country.name for country in countries" ng-model="SelectedCoutry" ng-change="coutrySelect()"></select>
        </div>
        <div class="form-group">
            <label for="city">Город</label>
            <select class="form-control city_country_select" name="city" ng-options="city as city.name for city in cities" ng-model="SelectedCity"></select>
        </div>


        <div class="form-group" ng-class="{'has-error':!registerForm.password.$valid}">
            <label for="password">Пароль</label>
            <input class="form-control" type="password" name="password" required="" ng-model="registerData.Password" />
            <span class="help-block" ng-show="registerForm.password.$error.required">Поле обязательно для заполнения.</span>
        </div>

        <div class="form-group" ng-class="{'has-error':!registerForm.passwordCompare.$valid}">
            <label for="passwordCompare">Повторите пароль</label>
            <input class="form-control" type="password" name="passwordCompare" ng-model="registerData.PasswordCompare" ng-match="registerData.Password" />
            <span class="help-block" ng-show="registerForm.passwordCompare.$error.match">Пароли не совпадают.</span>
        </div>
    </form>
    <button class="btn btn-success" ng-disabled="!registerForm.$valid" ng-click="register()">Зарегистрироваться</button>
</div>
<div ng-if="loading" class="loading_div">
    <img src="../../Content/loading.gif" />
</div>